nav {
    background-color: #012730;
    font-size: 1.5rem;
    padding: 2rem;
    height: 5rem;

    ul {
        display: flex;
        list-style: none;
        gap: 10px;
        justify-content: center;
        width: 100%;
        height: 100%;
        align-items: center;

        a {
            text-decoration: none;
            color: white;
        }

        a:hover {
            border-bottom: 3px solid #4CAF50;
        }
    }

}

.container {
    width: 114rem;
    margin: 2rem auto;
}

.link-active {
    border-bottom: 3px solid #4CAF50;
}